@import 'https://fonts.googleapis.com/css?family=Love+Ya+Like+A+Sister';
body {
  background: url(http://www.web3d.org/x3d/content/examples/Vrml2.0Sourcebook/Chapter17-Textures/brick.jpg) repeat;
}

.quote-box {
  background: #000;
  color: white;
  font-family: 'Love Ya Like A Sister';
  //display: inline-block;
  width: 50%;
  padding: 10px;
  border: 4px solid #966F33;
  box-shadow: 10px 10px 20px #000;
  margin: auto;
}

span {
  font-family: 'Love Ya Like A Sister', cursive;
  font-size: 300%;
}

address {
  text-align: right;
  padding-bottom: 7px;
}

.refresh {
  float: right;
  border-radius: 50%;
  cursor: pointer;
}

button {
  margin: 2px;
}
.social {
  border-radius: 10%;
  box-shadow: 3px 3px 3px;
  cursor: pointer;
  float: left;
}
* {
  // outline: 1px solid red !important;
}
